<div class="container my-3 border border-dark rounded-lg color-dark">
    <h2 class="m-0 p-2">Component A</h2>
    <app-comp-b
[childFname]="fname"
[childLname]="lname"
[childAge]="age"
[childCity]="city"
[childProfession]="profession"
[childCompany]="company"
[childHobby]="hobby"
[childExperience]="experience"
[childFavLang]="favLang"
[childPetName]="petName"
[childPetType]="petType"
[childMarried]="married"
[childStudentName]="studentName"
[childSchool]="school"
[childGrade]="grade"
[childFavSubject]="favSubject"
[childBestFriend]="bestFriend"
[childFavSport]="favSport"
[childDream]="dream"
[childCity2]="city2"
[childTeacherName]="teacherName"
[childMarks]="marks"
[childBrand]="brand"
[childModel]="model"
[childPrice]="price"
[childColor]="color"
[childStorage]="storage"
[childCamera]="camera"
[childOs]="os"
[childOwner]="owner"
[childPurchaseYear]="purchaseYear"
[childWarranty]="warranty"
[childMovieName]="movieName"
[childDirector]="director"
[childReleaseYear]="releaseYear"
[childActor]="actor"
[childGenre]="genre"
[childRating]="rating"
[childDuration]="duration"
[childPlatform]="platform"
[childFavScene]="favScene"
[childTraveler]="traveler"
[childCountry]="country"
[childCity5]="city5"
[childDays]="days"
[childFavPlace]="favPlace"
[childLocalFood]="localFood"
[childStayHotel]="stayHotel"
[childTravelMode]="travelMode"
[childSpent]="spent"
[childPlayerName]="playerName"
[childTeam]="team"
[childRuns]="runs"
[childBalls]="balls"
[childOpponent]="opponent"
[childVenue]="venue"
[childMatchType]="matchType"
[childResult]="result"
[childStrikeRate]="strikeRate"
[childAuthor]="author"
[childBook]="book"
[childGenre7]="genre7"
[childPublished]="published"
[childCopiesSold]="copiesSold"
[childMainCharacter]="mainCharacter"
[childSetting]="setting"
[childPublisher]="publisher"
[childShopName]="shopName"
[childOwner8]="owner8"
[childLocation]="location"
[childOpenTime]="openTime"
[childCloseTime]="closeTime"
[childBestSelling]="bestSelling"
[childFoundedYear]="foundedYear"
[childEmployees]="employees"
[childRating8]="rating8"
[childTrainer]="trainer"
[childGymName]="gymName"
[childExperience9]="experience9"
[childSpecialization]="specialization"
[childLocation9]="location9"
[childClients]="clients"
[childTiming]="timing"
[childRating9]="rating9"
[childRestaurant]="restaurant"
[childChef]="chef"
[childCuisine]="cuisine"
[childLocation10]="location10"
[childSignatureDish]="signatureDish"
[childRating10]="rating10"
[childEstablished]="established"
[childBranches]="branches"
[childSinger]="singer"
[childConcertName]="concertName"
[childLocation11]="location11"
[childDate]="date"
[childCrowd]="crowd"
[childTicketPrice]="ticketPrice"
[childDuration11]="duration11"
[childOrganizer]="organizer"
[childCarBrand]="carBrand"
[childModel12]="model12"
[childOwner12]="owner12"
[childRange]="range"
[childPrice12]="price12"
[childBattery]="battery"
[childTopSpeed]="topSpeed"
[childColor12]="color12"
[childTeacher]="teacher"
[childSubject]="subject"
[childSchool13]="school13"
[childExperience13]="experience13"
[childFavTopic]="favTopic"
[childAwards]="awards"
[childCity13]="city13"
[childEmployee]="employee"
[childDesignation]="designation"
[childDepartment]="department"
[childCompany14]="company14"
[childYears]="years"
[childCity14]="city14"
[childProjects]="projects"
[childTeamSize]="teamSize"
[childYoutuber]="youtuber"
[childSubscribers]="subscribers"
[childContentType]="contentType"
[childJoinYear]="joinYear"
[childUploads]="uploads"
[childFavVideo]="favVideo"
[childCountry15]="country15"
[childGame]="game"
[childPlayer]="player"
[childRank]="rank"
[childPlayHours]="playHours"
[childFavAgent]="favAgent"
[childBestWeapon]="bestWeapon"
[childRegion]="region"
[childDeveloper]="developer"
[childStack]="stack"
[childCompany17]="company17"
[childExp]="exp"
[childFavTech]="favTech"
[childProjectCount]="projectCount"
[childMentor]="mentor"
[childLocation17]="location17"
[childPhotographer]="photographer"
[childCamera18]="camera18"
[childSpecialization18]="specialization18"
[childExperience18]="experience18"
[childLocation18]="location18"
[childAwards18]="awards18"
[childClients18]="clients18"
[childChef19]="chef19"
[childShow]="show"
[childSeason]="season"
[childDish]="dish"
[childRank19]="rank19"
[childCity19]="city19"
[childFans]="fans"
[childArtist]="artist"
[childArtStyle]="artStyle"
[childMedium]="medium"
[childExhibitions]="exhibitions"
[childAwards20]="awards20"
[childCity20]="city20"
[childFavPiece]="favPiece"
[childDoctor]="doctor"
[childSpecialization21]="specialization21"
[childHospital]="hospital"
[childExperience21]="experience21"
[childCity21]="city21"
[childPatientsPerDay]="patientsPerDay"
[childRating21]="rating21"
[childPilot]="pilot"
[childAirline]="airline"
[childExperience22]="experience22"
[childAircraft]="aircraft"
[childRoutes]="routes"
[childFlightHours]="flightHours"
[childInfluencer]="influencer"
[childPlatform23]="platform23"
[childFollowers]="followers"
[childNiche]="niche"
[childCollaborations]="collaborations"
[childCountry23]="country23"
[childStudent]="student"
[childUniversity]="university"
[childCourse]="course"
[childSemester]="semester"
[childCgpa]="cgpa"
[childProject]="project"
[childMentor24]="mentor24"
[childEntrepreneur]="entrepreneur"
[childStartup]="startup"
[childIdea]="idea"
[childFounded]="founded"
[childEmployees25]="employees25"
[childFunding]="funding"
[childCity25]="city25"
></app-comp-b>
<app-comp-c
[childMeeting]="meeting"
[childStudent2]="student2"
[childEmployee3]="employee3"
[childBooking]="booking"
[childCourse5]="course5"
[childOrder]="order"
[childPlaylist]="playlist"
[childEnrollment]="enrollment"
[childPatientRecord]="patientRecord"
[childTransaction]="transaction"
[childProduct]="product"
[childMovie]="movie"
[childShipment]="shipment"
[childAdmission]="admission"
[childConference]="conference"
[childInvoice]="invoice"
[childOrderNow]="orderNow"
[childTicket]="ticket"
[childTransactionBank]="transactionBank"
[childProductSell]="productSell"
[childGuestBook]="guestBook"
[childCart]="cart"
[childRestaurantOrder]="restaurantOrder"
[childClassSchedule]="classSchedule"
[childEcommerceOrder]="ecommerceOrder"
></app-comp-c>
</div>