/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
};

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
};

.bg-teal {
    background-color: #128c7e;
    color: #ffffff;
}

.fairImg {
    width: 100%;
    height: 30vh;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }

    .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
}

app-fair-card {
    cursor: pointer;
}