/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.color-light{
    background-color: #fef8dd;
}
.color-dark{
    background-color: #f7d8ba;
}